<!DOCTYPE html>
<html lang="es">
<head>
    <html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
    <meta charset="UTF-8">
    <title style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Surtifruver</title> 
    <link rel="stylesheet" href="../estilo%20Login.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Iniciar Sesion</h2>
            <form>
                <div class="inpout-group">
                    <label style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Usuario:</label>
                    <input type="text" placeholder="Usuario">   
                </div>

                <div class="inpout-group">
                    <label style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Contraseña:</label>
                    <input type="text" placeholder="Contraseña"> 
                </div>

                <button type="submit" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Iniciar Sesion</button>
                <link rel="stylesheet" href="Caja%20de%20venta.html">
            </form>
        </div>
    </div>

</body>
</html>
