<!DOCTYPE html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
 <head>
    <meta charset="UTF-8">
    <title>Menu Gerente</title> 
    <link rel="stylesheet" href="Estilo%20Gerente.css">
     <title th:text="${titulo != null ? titulo : 'Listado de Stock'}">Listado de Stock</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
     <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("toggleMenu").addEventListener("click", function(e){
        e.preventDefault();
        document.getElementById("submenu").classList.toggle("activo");
    });
});
</script>
</head>  
<body>
    <div class="Abministrador">
        <header class="header">
            <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> FruverLife</h1>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Abministrador</p>
        </header>
        <aside class="barra">
            <nav class="Acciones">
               <ul>
                 <li class="opcion"><a href="#" id="toggleMenu"><span>Gestion de Stock</span><i class="fas fa-chevron-down" style="color: rgba(35, 36, 37, 0.726);"></i></a>
                    <ul class="submenu" id="submenu">
                        <li><a href="#">Agregar Producto</a></li>
                        <li><a href="#">Modificar Producto</a></li>
                        <li><a href="#">Eliminar Producto</a></li>
                    </ul>
                </li>
                <li><a href="#"> Listado de Stock</a>
                    <a class="opcion-link" href="/"Listado de Stock>
                        <i class="bi bi-truck"></i>Index
                    </a>
                </li>

                <li><a href="#"> Registro de ventas</a></li>
                <li><a href="#"> Registro de usuario</a></li> 
               </ul>
            </nav>
        </aside>
        <main class="Menu">
            <img src="../Login/logo.jpeg" alt="" class="logofijo">
        </main>

        <aside class="usuario">
            <h3>usuario</h3>
            <ul>
                <li>Nombre</li>
                <li>Rol</li>
                <li>Cerrar sesion</li>
            </ul>
        </aside>
    </div>
</body>
</html>